main{
    background-color: #CDC2A5;
}

.sec-main-banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.sec-main-banner img{
    width: 90%;
    max-width: 1200px;
}

.sec-img-separator{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec-img-separator img{
    width: 100%;
    max-width: 1200px;
}

.sec-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec-info div{
    max-width: 1200px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.sec-contact{
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec-contact a{
    text-decoration: none;
}

.sec-contact a button{
    background-color: black;
    font-weight: 700;
    text-size: 10px;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 50px;
    width: 200px;
    cursor: pointer;
}